<footer>
        <div class="last">
            <div class=" container last-one ">
                <div class="last-one-top">
                    <ul>
                        <li><a href="#">关于天猫</a></li>
                        <li><a href="#">帮助中心</a></li>
                        <li><a href="#">开放平台</a></li>
                        <li><a href="#">诚聘英才</a></li>
                        <li><a href="#">联系我们</a></li>
                        <li><a href="#">网站合作</a></li>
                        <li><a href="#">法律声明</a></li>
                        <li><a href="#">隐私权政策</a></li>
                        <li><a href="#">知识产权</a></li>
                        <li><a href="#">廉政举报</a></li>
                        <li><a href="#">规则意见征集</a></li>
                    </ul>
                </div>

                <div class="last-one-mild">
                    <ul>
                        <li><a href="#">豆瓣集团</a></li>
                        <li><span class="shuxian"></span></li>
                        <li><a href="#">豆瓣看书</a></li>
                        <li><span class="shuxian"></span></li>
                        <li><a href="#">电影</a></li>
                        <li><span class="shuxian"></span></li>
                        <li><a href="#">音乐</a></li>
                        <li><span class="shuxian"></span></li>
                        <li><a href="#">全球速卖通</a></li>
                        <li><span class="shuxian"></span></li>
                        <li><a href="#">国际电影市场</a></li>
                        <li><span class="shuxian"></span></li>
                        <li><a href="#">1688</a></li>
                        <li><span class="shuxian"></span></li>
                        <li><a href="#">豆瓣电视剧</a></li>
                        <li><span class="shuxian"></span></li>
                        <li><a href="#">飞猪</a></li>
                        <li><span class="shuxian"></span></li>
                        <li><a href="#">云计算</a></li>
                        <li><span class="shuxian"></span></li>
                        <li><a href="#">Alios</a></li>
                        <li><span class="shuxian"></span></li>
                        <li><a href="#">阿里通信</a></li>
                        <li><span class="shuxian"></span></li>
                        <li><a href="#">万网</a></li>
                        <li><span class="shuxian"></span></li>
                        <li><a href="#">高德</a></li>
                        <li><span class="shuxian"></span></li>
                        <li><a href="#">UC</a></li>
                        <li><span class="shuxian"></span></li>
                        <li><a href="#">友盟</a></li>
                        <li><span class="shuxian"></span></li>
                        <li><a href="#">虾米</a></li>
                        <li><span class="shuxian"></span></li>
                        <li><a href="#">钉钉</a></li>
                        <li><span class="shuxian"></span></li>
                        <li><a href="#">支付宝</a></li>
                    </ul>
                </div>

                <div class="last-one-but">
                    <ul>
                        <li><span>增值电信业务许可证：</span><a href="#"> 浙B2-20110446</a></li>
                        <li><span>网络文化经营许可证：</span><a href="#"> 浙网文[2015]0295-065号</a></li>
                        <li><a href="#">12318举报</a></li>
                        <li><a href="#">出版物网络交易平台服务经营备案证： 新出发浙备字第001号</a></li>
                    </ul>
                    <ul>
                        <li><span>互联网违法和不良信息举报电话：0571-81683755 blxxjb@alibaba-inc.com</span></li>
                        <li><span>互联网药品信息服务资质证书编号：</span><a href="#">浙-（经营性）-2017-0005</a></li>
                        <li><a href="#"><img src="./img/police.png" width="16px" height="16px">（浙）网械平台备字[2018]第00002号</a></li>
                    </ul>
                    <ul>
                        <li><span>浙）网械平台备字[2018]第00002号</span></li>
                    </ul>
                    <ul class="last-one-but-last">
                        <li><span> &copy;2003-2018 TMALL.COM 版权所有</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
