<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>豆瓣</title>
    <link rel="stylesheet" href="./css/headFoot.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-ion" href="../favicon.ico">
    <link rel="stylesheet" href="./css/local.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- header -->
    <%include header.html%>
    <!-- containt -->
<div class="containt">
   <div class="localplaying">
       <img src="img/playing.jpg" alt="图片加载失败">
       <samp>本地热映-</samp>
       <samp>成都</samp>
       <a href="#">[切换城市]</a>
   </div>
   <!-- <div changecity></div> -->
   <div class="posters">
       <img src="img/new.jpg" alt="" class="img-responsive">
   </div>

   <div class="list">
   <div class="title">
       <samp>成都电影院</samp>
       <samp>正在上映</samp>
   </div>

   <div class="movilist">
       <%dou_data.forEach(function(xun){%>

       
   <div class="box">
       <!-- <a href="#"> -->
           <div onclick="details()">
               <img src="<%=xun.images.small%>" alt="">
               <p><%=xun.title%></p>
               <div><samp>评分:</samp><samp><%=xun.rating.average%></samp></div>
               
            </div>
       <!-- </a> -->
       <a href="#" class="btn btn-info by" role="button">选座购票</a>
    </div>
    <%})%>
   </div>

   <!-- 即将上映 -->

   </div>
   </div>
     <!-- footer -->
    <%include footer.html%>

</body>
</html>
